*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .castoro-regular {
        font-family: "Castoro", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .castoro-regular-italic {
        font-family: "Castoro", serif;
        font-weight: 400;
        font-style: italic;
      }
      
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/564x/f9/b9/ea/f9b9eadf2d01b8c5a224f121aeee7adf.jpg);
    background-size: cover;
}

.container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 800px;
    max-width: 1500px;
    transition: all 1s ease;
    margin: 10px;
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: #2c2c2c;
}

.info-childs p {
    margin: 15px 0;
    color: #7a7a7a;
}

.info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover {
    background-color: beige;
    border: none;
    color: #c76e6e;
    box-shadow: 0 20px 5px rgba(0, 0, 0, -1);
}

.form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #7a7a7a;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-information-childs {
    padding: 0 30px;
}

.form-information-childs h2 {
    color: black;
    font-size: 2rem;
}

.form-information-childs p {
    color: #2c2c2c;
}
.icons {
    margin: 15px 0;
}
.icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: beige;
    border: solid thin #c76e6e;
    transition: background-color 0.3s ease;
    box-shadow: 0 20px 5px rgba(0, 0, 0, -1);
}

.icons i:hover {
    background-color: #ffffff;
    color: rgb(255, 0, 179);
}

.form {
    margin: 30px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 50px;
    background-color: #d1d1d1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, -1);
}


.form label input {
width: 100%;
padding: 10px;
background-color: #d1d1d1;
border: none;
outline: none;
border-radius: 20px;
color: #2c2c2c;
}

.form label i {
    color: #c76e6e;
}

.form input[type="sumbit"] {
    background-color: #ff00ea;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, -1);
}

/*Segun yo es registrarse*/
.form input[type="sumbit"]:hover{
    background-color: red;
    outline: none;
    border: solid 2px #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color .3s ease;
}

.Gen {
    display: flex; /* Para colocar las opciones de género en línea horizontal */
    justify-content: space-between; /* Para distribuir las opciones de género equitativamente */
}

.Gen label {
    background-color: #c76e6e;
    flex: 1; /* Para que cada opción de género ocupe el mismo ancho */
    margin-bottom: 0; /* Eliminar el margen inferior para evitar espacios innecesarios */
}

.talla-color-tipo {
    display: flex; /* Para colocar los campos de talla, color y tipo en línea horizontal */
    justify-content: space-between; /* Para distribuir los campos equitativamente */
    align-items: center; /* Para alinear verticalmente los elementos */
}

.talla-color-tipo label {
    flex: 1; /* Para que cada etiqueta de campo ocupe el mismo ancho */
    margin-right: 10px; /* Espacio entre las etiquetas y los elementos de entrada */
}

.talla-color-tipo input,
.talla-color-tipo select {
    flex: 2; /* Para que cada campo de entrada ocupe el doble del ancho de la etiqueta */
}

.formas-de-pago {
    display: flex; /* Para colocar el contenedor de formas de pago en línea horizontal */
    align-items: center; /* Para alinear verticalmente los elementos */
}

.opciones-pago {
    display: flex; /* Para colocar las opciones de pago en línea horizontal */
    align-items: center; /* Para alinear verticalmente los elementos */
}

.opciones-pago input[type="checkbox"],
.opciones-pago label {
    margin-right: 10px; /* Espacio entre los campos de entrada y las etiquetas */
}
